.node {
	height: 20px;
	width: 50px;
	border: 1px solid darkgray;
	color: yellow;
    box-sizing: border-box;
    font-size: 80%;
}

.selected {
	border: 1px solid orange;
}

.trigger {
	height: 20px;
	width: 3px;
	background: pink;
	float: left;
    pointer-events: none;
}

.note_label {
	height: 20px;
	width: 45px;
	color: yellow;
	padding-left: 5px;
    pointer-events: none;
}

body {
	background-color: #333333;
}

.track_line {
	width: 52px;
	margin-right: 5px;
	float: left;
}

.clear {
	clear: both;
}

#tracker {
    margin-right: 20px;
}

#configuration {
    float: left;
    border: 1px solid darkgray;
    height: 100px;
    width: 150px;
    color: lightgray;
    padding-left: 5px;
    padding-top: 5px;
}